.exam {
    /* border: 2px solid black; */
    padding: 30px;
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 10px;
}

.userQuestion {
    width: 1000px;
    padding: 20px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    box-shadow: 2px 2px lightgray;
    border-radius: 5px;
}

.checkbox {
    width: 15px;
    height: 15px;
}

.exam button {
    background-color: whitesmoke;
    border: 1px solid lightgray;
    box-shadow: 2px 2px lightgray;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 3px;
    width: 150px;
}

.pointsContainer {
    background-color: lightgreen;
    padding: 10px;
    width: 1000px;
}