.exams {
    /* border: 2px solid black; */
    padding: 0 20px;
    display: flex;
    align-items: left;
    flex-direction: column;
    /* gap: 10px; */
}

.testMenu {
    list-style: none;
    display: flex;
}

.examButton {
    background-color: whitesmoke;
    padding: 10px 15px;
    color: black;
    margin: 10px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px lightgray;
    border-radius: 5px;
    font-size: medium;
}

#addExamButton {
    background-color:lightgreen;
    border: 1px solid limegreen;
    box-shadow: 2px 2px limegreen;
}
