


.questAns {
  width: 1000px;
  padding: 50px;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 2px 2px lightgray;
  border-radius: 5px;
}

.question {
  font-weight: bold;
}

.showAns {
  background-color: royalblue;
  color:white;
  text-transform: uppercase;
  padding: 10px; 
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}





