
header {
    background-color: darkgrey;
    padding:10px;
  }

  header nav {
    width: 98%;
    /* border: 2px solid black; */
  }

  .navbar {
    list-style: none;
    display: flex;
    /* border: 2px solid black; */
  }
  
  .navbar li:last-child {
    margin-left: auto;
  }
  
  .navbar a {
    padding:10px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    text-decoration: none;
  }

  .navbar button {
    background-color: lightgrey;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid grey;
    box-shadow: 2px 2px grey;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 3px;
  }