
body {
  background-color:whitesmoke;
}

header {
  background-color: royalblue;
  padding:10px;
}

header nav {
  width: 98%;
  /* border: 2px solid black; */
}

.topNav {
  list-style: none;
  display: flex;
  /* border: 2px solid black; */
}

.topNav li:last-child {
  margin-left: auto;
}

.topNav a {
  padding:10px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.center nav {
  width: 1000px;
  /* border: 2px solid black; */
} 

.testMenu {
  list-style: none;
  display: flex;
  /* border: 2px solid black; */
}

.testMenu a {
  padding: 10px;
  text-transform: uppercase;
  color: royalblue;
  text-decoration: none;
}

.questAns {
  width: 1000px;
  padding: 50px;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 2px 2px lightgray;
  border-radius: 5px;
}

.question {
  font-weight: bold;
}

.showAns {
  background-color: royalblue;
  color:white;
  text-transform: uppercase;
  padding: 10px; 
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}





